<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Movies</title>
    <script src="jquery-3.6.4.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="cardMain">
      <div class="card-deck">
        <div class="container">
          <div class="row mt-4" id="movie-card"></div>
            <div class="container">
                <div class="col-sm-6">
                  <div class="row">
                  <div class="col-sm-6">
                    <img width="100%" height="auto" id="movie-poster" src="" alt=""/>
                  </div>
                  <div class="col-sm-6">
                        <div class="p-10 mt-4">
                          <h1 class="display-10" id="movie-name"></h1>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
            $(document).ready(function(){
                getMovieDetail();
            });

            function getMovieDetail(){
                const id = getUrlVars()["id"];
                $.ajax({
                  url: `https://6452256ebce0b0a0f73dc643.mockapi.io/api/v1/movie/${id}`,
                  type:'GET',
                  success: function(response){
                    $("#movie-poster").attr({src:response.avatar})
                    $("#movie-name").html(response.name)
                    console.log(response)
                  }
                })
            }

        function getUrlVars() {
        var vars = [],
        hash;
        var hashes = window.location.href
        .slice(window.location.href.indexOf("?") + 1)
        .split("&");
        for (var i = 0; i < hashes.length; i++) {
          hash = hashes[i].split("=");
          vars.push(hash[0]);
          vars[hash[0]] = hash[1];
        }
        return vars;
      }

        </script>

    </body>
</html>
